{% extends "/_layouts/theme.html.twig" %}
{% import "/_macros/form-elements-bootstrap.html.twig" as forms %}
{% block title %}
Contact Us
{% endblock %}
{% block breadcrumb %}

      <!-- Intro Block
      ============================================-->
      <section class="intro-block intro-page boxed-section page-bg overlay-dark-m">
      
        <!-- Container -->
        <div class="container">     
          <!-- Section Title -->
          <div class="section-title invert-colors no-margin-b">
            <h2>Contact Us</h2>
            <p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit
            dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id
            hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia
            nostra, per inceptos himenaeos.</p>
          </div>
          <!-- /Section Title -->
        </div>
        <!-- /Container -->
      
      </section>
      <!-- /Intro Block
      ============================================-->

{{ base.breadcrumbs({'Contact Us':''}) }}
{% endblock %}
{% block content %}
{% set subjects = {
    'Order Status' : 'Order Status',
    'Shipping / Tracking Info' : 'Shipping / Tracking Info',
    'Cancel an Item / Order' : 'Cancel an Item / Order',
    'Return and Item / Order' : 'Return and Item / Order',
    'Product Question' : 'Product Question',
    'Website Comment' : 'Website Comment',
    'Store Comment' : 'Store Comment',
    'Gift Registry Comment' : 'Gift Registry Comment',
    'Other' : 'Other'
}
%}
{% if app.request.post.contact is defined and app.request.post.contact.subject in subjects %}
    {% do app.request.validateToken() %}
    {% if app.params['contact-us']['to'] is empty or app.params['contact-us']['from'] is empty %}
        <div class="alert-danger">We're sorry, contact-us feature has not yet been setup.</div>
    {% elseif api.post('/contact', app.request.post.contact) %}
        {% do app.redirect('/', {'success':'Your comment has been submitted. Thank you.'}) %}
    {% endif %}
{% endif %}
      
     <!-- Content Block
      ============================================-->
      <section class="content-block default-bg">
        <!-- Container -->
        <div class="container no-pad-t">

          <!-- Row -->
          <div class="row">

            <!-- Main Col -->
            <div id="main-col" class="col-sm-8 col-md-8 mgb-30-xs">
 
                <h4 class="case-c">message form</h4>
                
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                
                <!-- Comment Form -->
                <div class="contact-form">
                  <form>
                    <!-- Row -->
                    <div class="row">
                    {{ forms.begin('contact','','post',{ class:'form-horizontal' }) }}
                      <!-- Col -->
                      <div class="col-md-6">
                        <div class="form-group">
                          {{ forms.text('contact[name]', contact.name|default(app.user.full_name), {class:'form-control parsley-validated', placeholder:"Name", required:true}) }}
                          <div class="validation">{{ forms.errorlist(form_errors, 'name') }}</div>
                        </div>
                      </div>
                      <!-- /Col -->
                      <!-- Col -->
                      <div class="col-md-6">
                        <div class="form-group">
                          {{ forms.email('contact[email]', contact.email|default(app.user.email), {class:'form-control parsley-validated', placeholder:"Email", required:true}) }}
                          <div class="validation">{{ forms.errorlist(form_errors, 'email') }}</div>
                        </div>
                      </div>
                      <!-- /Col -->
                      <!-- Col -->
                      <div class="col-md-6">
                        <div class="form-group">
                          {{ forms.select('contact[subject]', contact.subject, subjects, {class:'form-control parsley-validated', placeholder:"Subject", required:true}) }}
                          <div class="validation">{{ forms.errorlist(form_errors, 'subject') }}</div>
                        </div>
                      </div>
                      <!-- /Col -->
                    </div>
                    <!-- /Row -->
                    
                    <div class="form-group">
                     {{ forms.textarea('contact[message]', contact.message, {class:'form-control parsley-validated', placeholder:"Message", required:true}) }}
                     <div class="validation">{{ forms.errorlist(form_errors, 'message') }}</div>
                    </div>
                   
                    {# Begin actions #}
                    <div class="row">
                        <div class="col-xs-10 col-sm-5">
                            <div class="actions">
                                {{ forms.submit('submit', 'create', 'Submit Request', {class:'btn btn-default'})}}
                            </div>
                        </div>
                    </div>
                    {# End actions #}
                  </form>
                </div>
                <!-- /Contact Form -->
                
            </div>
            <!-- /Main Col -->
            
            <!-- Side Col -->
            <div class="col-sm-4 col-md-4">

              <!-- Side Widget -->
              <div class="side-widget">
              
                <h5 class="boxed-title">Our location</h5>
                
                <!-- fader -->
                <div class="fader mgb-20">
                  <img src="{{ app.url_asset }}/images/map.jpg" alt="">
                  <!-- hidden -->
                  <div class="fader-hidden pcolor-bg white">
                    <!-- stuff to be revealed here ! -->
                    <div class="vcenter align-center">
                      <div class="vcenter-this">
                        <a href="#" data-toggle="modal" data-target="#map-modal"><span class="white">VIEW MAP</span></a>
                      </div>
                    </div>
                    <!-- /stuff to be revealed here ! -->
                  </div>
                  <!-- /hidden-->
                </div>
                <!-- /fader -->
                
                <!-- vlinks -->
                <ul class="vlinks vlinks-iconed vlinks-ruled-dots">
                  <li><i class="icon fa fa-home"></i>{{ app.params['business-info']['business-street-address'] }} {{ app.params['business-info']['business-complementary-address'] }}<br>{{ app.params['business-info']['business-city'] }} {{ app.params['business-info']['business-state'] }} {{ app.params['business-info']['business-zip'] }}</li>
                  <li class="centered"><i class="icon fa fa-laptop"></i>{{ app.params['contact-us']['to'] }}</li>
                  <li class="centered"><i class="icon fa fa-user"></i>{{ app.params.information['phone_number'] }}</li>
                </ul>
                <!-- /vlinks -->
                
              </div>
              <!-- /Side Widget -->
              
            </div>
            <!-- /Side Col -->

          </div>
          <!-- /Row -->
        
        </div>
        <!-- /Container -->
    </section>
    <!-- /Content Block
    ============================================-->
    
    <!-- Map Modal -->
    <div id="map-modal" class="modal fade map-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <!-- Modal Dialog -->
      <div class="modal-dialog">
      
        <div class="modal-content">
        
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Our Map Location</h4>
          </div>
          
          <div class="modal-body">
            <iframe style="width:100%; height: 350px" id="gmap" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=+&amp;q={{ app.params['business-info']['business-street-address'] }}+{{ app.params['business-info']['business-complementary-address'] }}+{{ app.params['business-info']['business-city'] }}+{{ app.params['business-info']['business-state'] }}&amp;t=m&amp;z=14&amp;output=embed"></iframe>
            <script type="text/javascript">
              // Delay loading iframe for better performance
              var iframe = document.getElementById('gmap');
              var src = iframe.src;
              iframe.src = '';
              window.onload =  function(){ iframe.src = src; }
            </script>
          </div>
        </div>
        
      </div>
      <!-- /Modal Dialog -->
    </div>
    <!-- /Map Modal -->
    {% include "/_partials/promo/newsletter-box.html.twig" %}
    {% endblock %}