{% extends "/_layouts/base.html.twig" %}
{% import "/_macros/form-elements-bootstrap.html.twig" as forms %}
{% block title %}
Contact Us
{% endblock %}
{% block breadcrumb %}
{{ base.breadcrumbs({'Contact Us':''}) }}
{% endblock %}
{% block content %}
{% if app.request.post.contact is defined and app.request.post.contact.subject in subjects %}
    {% do app.request.validateToken() %}
    {% if app.params['contact-us']['to'] is empty or app.params['contact-us']['from'] is empty %}
        <div class="alert-danger">We're sorry, contact-us feature has not yet been setup.</div>
    {% elseif api.post('/contact', app.request.post.contact) %}
        {% do app.redirect('/', {'success':'Your comment has been submitted. Thank you.'}) %}
    {% endif %}
{% endif %}
      <div class="container-fluid title">
        <div class="row">
          <div class="col-sm-12">
            <h2>Contact us</h2>
          </div>
        </div>
      </div>      
      <div class="container-fluid contact product">
        <div class="row">   
          <div class="col-xs-12 col-sm-4">
            <address>
              <p>Take me to your leader! Morbo can't understand his teleprompter because he forgot how you say that letter that's shaped like a man wearing a hat.</p>
              <br><strong>{{ app.params['business-info']['business-name'] }}</strong><br>
              {{ app.params['business-info']['business-street-address'] }} {{ app.params['business-info']['business-complementary-address'] }}<br>
              {{ app.params['business-info']['business-city'] }} {{ app.params['business-info']['business-state'] }} {{ app.params['business-info']['business-zip'] }}<br>
              {{ app.params['contact-us']['to'] }}<br>
              {{ app.params.information['phone_number'] }}
            </address>
          </div>
          <div class="col-xs-12 col-sm-8">
            <form class="myform">
              <div class="row clearfix">
               {{ forms.begin('contact','','post',{ class:'form-horizontal' }) }}
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                      {{ forms.text('contact[name]', contact.name|default(app.user.full_name), {class:'form-control  input-lg requiredField parsley-validated', placeholder:"Name", required:true}) }}
                          <div class="validation">{{ forms.errorlist(form_errors, 'name') }}</div>
                </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                      {{ forms.email('contact[email]', contact.email|default(app.user.email), {class:'form-control input-lg requiredField parsley-validated', placeholder:"Email", required:true}) }}
                          <div class="validation">{{ forms.errorlist(form_errors, 'email') }}</div>
                </div>
                </div>  
              </div> 
              <div class="form-group">
                     {{ forms.textarea('contact[message]', contact.message, {class:'form-control parsley-validated', placeholder:"Message", required:true}) }}
                     <div class="validation">{{ forms.errorlist(form_errors, 'message') }}</div>
              </div>
              <p>{{ forms.submit('submit', 'create', 'Submit Request', {class:'btn btn-store btn-block'})}}</p>
              <input type="hidden" name="submitted" id="submitted3" value="true">
            </form> 
          </div>    
        </div>
        </div> 
        <div class="gm-style">
            <iframe style="width:100%; height: 300px" id="gmap" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=+&amp;q={{ app.params['business-info']['business-street-address'] }}+{{ app.params['business-info']['business-complementary-address'] }}+{{ app.params['business-info']['business-city'] }}+{{ app.params['business-info']['business-state'] }}&amp;t=m&amp;z=14&amp;output=embed"></iframe>
            <script type="text/javascript">
              // Delay loading iframe for better performance
              var iframe = document.getElementById('gmap');
              var src = iframe.src;
              iframe.src = '';
              window.onload =  function(){ iframe.src = src; }
            </script>
          </div>
        {% endblock %}
