
{% if app.user.isLoggedIn() %}
{% do app.redirect('/account') %}
{% endif %}

{% if app.request.post.create is not empty %}
{% set createdata = app.request.post.create %}
{% set result = api.post('/customer/signup', createdata) %}
{% if result %}
{% if app.request.path %}
{% do app.redirect('/'~app.request.path) %}
{% else %}
{% do app.redirect(app.request.url) %}
{% endif %}
{% else %}
{% set form_errors = api.error() %}
{% set create = app.request.post.create %}
{% endif %}
{% endif %}
{% import "/_macros/form-elements-bootstrap.html.twig" as forms %}
{% extends "/_layouts/theme.html.twig" %}
{% set title = 'Create An Account' %}
{% block title %}{{title}}{% endblock %}

{% block breadcrumb %}
    {{ base.breadcrumbs({'Account Create':'/account/create'}) }}
{% endblock %}

{% block content %}

      <!-- Intro Block
      ============================================-->
      <section class="intro-block intro-page boxed-section page-bg overlay-dark-m">
      
        <!-- Container -->
        <div class="container">     
          <!-- Section Title -->
          <div class="section-title invert-colors no-margin-b">
            <h2><i class="fa fa-users"></i> {{ title|title }}</h2>
            <p class="hidden-xs">New to {{ app.params.site.title }}? Create an account by filling out the form below.</p>
          </div>
          <!-- /Section Title -->
        </div>
        <!-- /Container -->
      
      </section>
      <!-- /Intro Block
      ============================================-->
            <!-- Page Info Block
      ============================================-->
      <section class="page-info-block boxed-section">
      
        <!-- Container -->
        <div class="container cont-pad-x-15"> 

          <!-- Breadcrumb -->
          <ol class="breadcrumb pull-left">
            <li><a href="#"><i class="ti ti-home"></i></a></li>
            <li><a href="#">Pages</a></li>
            <li class="active">features</li>
          </ol>
          <!-- /Breadcrumb --> 

          <!-- hlinks -->
          <ul class="page-links pull-right hlinks hlinks-icons color-icons-borders color-icons-bg-hovered">
            <li><a href="#"><i class="icon fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="icon fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="icon fa fa-rss"></i></a></li>
          </ul>
          <!-- /hlinks -->

        </div>
        <!-- /Container -->
      
      </section>
      <!-- /Page Info  Block
      ============================================-->
<section id="account" class="content-block default-bg ">
<!-- Container -->
    <div class="container cont-main no-pad-t">     
        <div class="col-lg-9 col-md-9 col-sm-7">
        {{ forms.begin('create','','post', {class:'form-horizontal'}) }}
        <div class="well">
        <fieldset>
            <legend class="block-title-2">Login Information</legend>
            <div class="form-group">
                <label class="control-label col-sm-3 col-md-2 col-lg-2" for="input1">Email
                    <span class="text-danger">*</span>
                </label>
                <div class="col-sm-9 col-md-6">
                    {{ forms.email('create[email]',create.email, {class:'form-control parsley-validated', placeholder:"Email", required:true}) }}
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-5 col-md-offset-0 col-lg-5">
                    <div class="validation">{{ forms.errorlist(form_errors, 'email') }}</div>
                </div>
            </div>
            <div class="clear: both"></div>
            <div class="form-group">
                <label class="control-label col-sm-3 col-md-2 col-lg-2" for="input1">Retype Email
                    <span class="text-danger">*</span>
                </label>
                <div class="col-sm-9 col-md-6">
                    {{ forms.email('create[confirm_email]',create.confirm_email, {class:'form-control parsley-validated', placeholder:"Retype Email", required:true}) }}
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-5 col-md-offset-0 col-lg-5">
                    <div class="validation">{{ forms.errorlist(form_errors, 'confirm_email') }}</div>
                </div>
            </div>
            <div class="clear: both"></div>
            <div class="form-group">
                <label class="control-label col-sm-3 col-md-2 col-lg-2" for="input1">Password
                    <span class="text-danger">*</span>
                </label>
                <div class="col-sm-9 col-md-6">
                    {{ forms.password('create[password]',create.password, {class:'form-control parsley-validated', placeholder:"Password", required:true}) }}
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-6 col-md-offset-0 col-lg-6">
                    <div class="validation">{{ forms.errorlist(form_errors, 'password') }}</div>
                </div>
            </div>
            <div class="clear: both"></div>
            <div class="form-group">
                <label class="control-label col-sm-3 col-md-2 col-lg-2" for="input1">Retype Password
                    <span class="text-danger">*</span>
                </label>
                <div class="col-sm-9 col-md-6">
                    {{ forms.password('create[confirm_password]',create.confirm_password, {class:'form-control parsley-validated', placeholder:"Retype Password", required:true}) }}
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-6 col-md-offset-0 col-lg-6">
                    <div class="validation">{{ forms.errorlist(form_errors, 'confirm_password') }}</div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend class="block-title-2">Contact Information</legend>
            <div class="form-group">
                <label class="control-label col-sm-3 col-md-2 col-lg-2" for="input1">First Name
                    <span class="text-danger">*</span>
                </label>
                <div class="col-sm-9 col-md-6">
                    {{ forms.text('create[first_name]',create.first_name, {class:'form-control parsley-validated', placeholder:"First Name", required:true}) }}
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-6 col-md-offset-0 col-lg-6">
                    <div class="validation">{{ forms.errorlist(form_errors, 'first_name') }}</div>
                </div>
            </div>
            <div class="clear: both"></div>
            <div class="form-group">
                <label class="control-label col-sm-3 col-md-2 col-lg-2" for="input1">Last Name
                    <span class="text-danger">*</span>
                </label>
                <div class="col-sm-9 col-md-6">
                    {{ forms.text('create[last_name]',create.last_name, {class:'form-control parsley-validated', placeholder:"Last Name", required:true}) }}
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-6 col-md-offset-0 col-lg-6">
                    <div class="validation">{{ forms.errorlist(form_errors, 'last_name') }}</div>
                </div>
            </div>
            <div class="clear: both"></div>
            <div class="form-group">
                <label class="control-label col-sm-3 col-md-2 col-lg-2" for="input1">Phone Number
                    <span class="text-danger">*</span>
                </label>
                <div class="col-sm-4 col-md-3 col-lg-2">
                    {{ forms.phone('create[phone_number]',create.phone_number, {class:'form-control parsley-validated', placeholder:"Phone Number", required:true}) }}
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-7 col-md-offset-0 col-lg-8">
                    <div class="validation">{{ forms.errorlist(form_errors, 'phone_number') }}</div>
                </div>
            </div>
            <div class="clear: both"></div>
            <div class="form-group">
              <label class="control-label col-sm-3 col-md-2 col-lg-2" for="input1">Subscribe to our Newsletter
              </label>
              <div class="col-sm-9 col-md-6">
                  {{ forms.checkbox('create[newsletter]', true, {}, true) }}
              </div>
            </div>

            <div class="clear: both"></div>
        </fieldset>
        {# Begin actions #}
        <div class="actions">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2">
                    {{ forms.submit('create[action]', 'create', '<i class="fa fa-user"></i>  Submit', {class:'btn btn-primary'})}}
                </div>
            </div>
        </div>
        {# End actions #}
        {{ forms.end() }}
        </div>
    </div>
</div>
</section>
{% endblock %}
