
{% if app.user.isLoggedIn() %}
{% do app.redirect('/account') %}
{% endif %}

{% if app.request.post.create is not empty %}
{% set createdata = app.request.post.create %}
{% set result = api.post('/customer/signup', createdata) %}
{% if result %}
{% if app.request.path %}
{% do app.redirect('/'~app.request.path) %}
{% else %}
{% do app.redirect(app.request.url) %}
{% endif %}
{% else %}
{% set form_errors = api.error() %}
{% set create = app.request.post.create %}
{% endif %}
{% endif %}
{% import "/_macros/form-elements-bootstrap.html.twig" as forms %}
{% extends "/_layouts/base.html.twig" %}
{% set title = 'Create An Account' %}
{% block title %}{{title}}{% endblock %}

{% block breadcrumb %}
    {{ base.breadcrumbs({'Account Create':'/account/create'}) }}
{% endblock %}

{% block content %}

            <div class="container-fluid cart-list">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 myform">
                        <h2 class="text-center"><i class="fa fa-users"></i> {{ title|title }}</h2>
                        <p>New to {{ app.params.site.title }}? Create an account by filling out the form below.</p>
                        
                        {{ forms.begin('create','','post', {class:'form-horizontal'}) }}
                        <fieldset>
                            <legend class="block-title-2">Login Information</legend>
                            <div class="form-group">
                                <label class="control-label col-sm-3 col-md-2 col-lg-2" for="input1">Email
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="col-sm-12">
                                    {{ forms.email('create[email]',create.email, {class:'form-control parsley-validated', placeholder:"Email", required:true}) }}
                                </div>
                                <div class="col-sm-12">
                                    <div class="validation">{{ forms.errorlist(form_errors, 'email') }}</div>
                                </div>
                            </div>
                            <div class="clear: both"></div>
                            <div class="form-group">
                                <label class="control-label col-sm-3 col-md-2 col-lg-2" for="input1">Retype Email
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="col-sm-12">
                                    {{ forms.email('create[confirm_email]',create.confirm_email, {class:'form-control parsley-validated', placeholder:"Retype Email", required:true}) }}
                                </div>
                                <div class="col-sm-12">
                                    <div class="validation">{{ forms.errorlist(form_errors, 'confirm_email') }}</div>
                                </div>
                            </div>
                            <div class="clear: both"></div>
                            <div class="form-group">
                                <label class="control-label col-sm-3 col-md-2 col-lg-2" for="input1">Password
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="col-sm-12">
                                    {{ forms.password('create[password]',create.password, {class:'form-control parsley-validated', placeholder:"Password", required:true}) }}
                                </div>
                                <div class="col-sm-12">
                                    <div class="validation">{{ forms.errorlist(form_errors, 'password') }}</div>
                                </div>
                            </div>
                            <div class="clear: both"></div>
                            <div class="form-group">
                                <label class="control-label col-sm-3 col-md-2 col-lg-2" for="input1">Retype Password
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="col-sm-12">
                                    {{ forms.password('create[confirm_password]',create.confirm_password, {class:'form-control parsley-validated', placeholder:"Retype Password", required:true}) }}
                                </div>
                                <div class="col-sm-12">
                                    <div class="validation">{{ forms.errorlist(form_errors, 'confirm_password') }}</div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend class="block-title-2">Contact Information</legend>
                            <div class="form-group">
                                <label class="control-label col-sm-3 col-md-2 col-lg-2" for="input1">First Name
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="col-sm-12">
                                    {{ forms.text('create[first_name]',create.first_name, {class:'form-control parsley-validated', placeholder:"First Name", required:true}) }}
                                </div>
                                <div class="col-sm-12">
                                    <div class="validation">{{ forms.errorlist(form_errors, 'first_name') }}</div>
                                </div>
                            </div>
                            <div class="clear: both"></div>
                            <div class="form-group">
                                <label class="control-label col-sm-3 col-md-2 col-lg-2" for="input1">Last Name
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="col-sm-12">
                                    {{ forms.text('create[last_name]',create.last_name, {class:'form-control parsley-validated', placeholder:"Last Name", required:true}) }}
                                </div>
                                <div class="col-sm-12">
                                    <div class="validation">{{ forms.errorlist(form_errors, 'last_name') }}</div>
                                </div>
                            </div>
                            <div class="clear: both"></div>
                            <div class="form-group">
                                <label class="control-label col-sm-3 col-md-2 col-lg-2" for="input1">Phone Number
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="col-sm-12">
                                    {{ forms.phone('create[phone_number]',create.phone_number, {class:'form-control parsley-validated', placeholder:"Phone Number", required:true}) }}
                                </div>
                                <div class="col-sm-12">
                                    <div class="validation">{{ forms.errorlist(form_errors, 'phone_number') }}</div>
                                </div>
                            </div>
                            <div class="clear: both"></div>
                            <div class="form-group">
                              <label class="control-label col-sm-3 col-md-2 col-lg-2" for="input1">Subscribe to our Newsletter
                              </label>
                              <div class="col-sm-12">
                                  {{ forms.checkbox('create[newsletter]', true, {}, true) }}
                              </div>
                            </div>

                            <div class="clear: both"></div>
                        </fieldset>
                        {# Begin actions #}
                        <div class="actions">

                                    {{ forms.submit('create[action]', 'create', '<i class="fa fa-user"></i>  Submit', {class:'btn btn-primary btn-block'})}}
                        </div>
                        {# End actions #}
                        {{ forms.end() }}
                    </div>       
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center show-more">
                        <a href="{{app.url}}" class="btn btn-outline">Cancel and return to store</a>
                    </div>  
                </div>  

            </div>
{% endblock %}
