{% import "/_macros/form-elements-bootstrap.html.twig" as forms %}
{% extends "/_layouts/theme.html.twig" %}

{% if app.user.isLoggedIn() %}
    {% do app.redirect('/account') %}
{% endif %}
{% if app.request.get.token is defined %}
    {% set email = api.post('/customer/checktoken', {'token':app.request.get.token} ) %}
    {% if email is not empty %}
        {% set token_success = email %}
    {% endif %}
{% endif %}

{% if app.request.post.reset_password is not empty %}
    {% do app.request.validateToken() %}
    {% set resetpassworddata = app.request.post.reset_password %}
    {% set success = api.post('/customer/resetpassword', resetpassworddata ) %} 
    {% if success %}
        {% do app.redirect('/account/reset-password-sent') %}
    {% endif %}
{% endif %}

{% set title = 'Reset password' %}
{% block title %}{{title}}{% endblock %}
{% block breadcrumb %}
{{ base.breadcrumbs({'Reset your password':''}) }}
{% endblock %}

{% block content %}
<div class="container main-container">
    <div class="row">
        {# Begin header #}
            <div class="col-sm-12 col-md-9 col-lg-10">
            {% if token_success is empty %}
                <h1 class="section-title-inner"><span><i class="fa fa-key"></i> 
                    {{ title|title }}</span>
                </h1>
                <h2 class="block-title-2">To reset your password, please specify the email address used to access your account.</h2>
            </div>
        {# End header #}
        </div> <!-- /Row -->
        {{ forms.begin('reset_password','','post', {class:'form-horizontal'}) }}
            {% if success is defined %}
            <div class="row">
                <div class="alert alert-danger">
                    The email provided does not exist in our records.
                </div>
            </div>
            {% endif %}
            <fieldset>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-1 col-lg-1" for="input3">Email
                    <span class="text-danger">*</span>
                </label>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    {{ forms.email('reset_password[email]', registry.event_date,  {class:'form-control parsley-validated', placeholder:'Email', required:true}) }}
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-5 col-md-offset-0 col-lg-5">
                    <div class="validation">{{ forms.errorlist(form_errors, 'email') }}</div>
                </div>

            </div>
            </fieldset>
            <div class="actions">
                <div class="row">
                    <div class="col-sm-9 col-sm-offset-2 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                        {{ forms.submit('reset_password[action]', 'put', 'Submit', {class:'btn btn-primary'})}}
                    </div>
                </div>
            </div>
        {{ forms.end() }}

    {% else %}
        {% if app.request.post.change_password is not empty %}
            {% set resetpassworddata = app.request.post.change_password %}
            {% set result = api.post('/customer/changepassword', resetpassworddata ) %}
            {% if result %}
                {% do app.user.flash('Password successfully updated.') %}
                {% do app.redirect('/account/login') %}
            {% else %}
                {% set form_errors = api.error() %}
            {% endif %}
        {% endif %}
        <h1>Create a new password</h1>
        <p>To complete your password reset request, please enter a new password in the form below.</p>
        
        {{ forms.begin('change_password','','post', {class:'form-horizontal'}) }}

            <fieldset>
            <legend></legend>
            {{ forms.hidden('change_password[token]', app.request.get.token) }}
            <div class="form-group">
                <label class="control-label col-sm-3 col-md-2 col-lg-2" for="input3">New Password
                    <span class="text-danger">*</span>
                </label>
                <div class="col-sm-9 col-md-5 col-lg-5">
                    {{ forms.password('change_password[password]', registry.event_date,  {class:'form-control parsley-validated', placeholder:'Enter a new password', required:true}) }}
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-5 col-md-offset-0 col-lg-5">
                    <div class="validation">{{ forms.errorlist(form_errors, 'password') }}</div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 col-md-2 col-lg-2" for="input3">Confirm new password
                    <span class="text-danger">*</span>
                </label>
                <div class="col-sm-9 col-md-5 col-lg-5">
                    {{ forms.password('change_password[confirm_password]', registry.event_date,  {class:'form-control parsley-validated', placeholder:'Confirm new password', required:true}) }}
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-5 col-md-offset-0 col-lg-5">
                    <div class="validation">{{ forms.errorlist(form_errors, 'confirm_password') }}</div>
                </div>
            </div>
            <div class="actions">
                <div class="row">
                    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2">
                        {{ forms.submit('change_password[action]', 'put', 'Submit', {class:'btn btn-primary'})}}
                    </div>
                </div>
            </div>
            </fieldset>
        {{ forms.end() }}

    {% endif %}
</div> <!-- /Main -->
{% endblock %}