{% set cart = api.get('/sessioncart') %}
{% set cartitems = api.get('/sessioncartitem') %}
<div class="row">
    <div class="col-md-12">
    {% for item in cartitems %}
    {% set product = api.get('/variant/' ~ item.product_id) %}
        <div class="product" style="border-bottom: 1px solid #ddd;">
            <div class="row">
                {# Begin product image #}
                <div class="col-xs-4 col-sm-4 col-md-4">
                    <div class="thumbnail">
                        <img onerror="this.src='{{ app.url_asset }}/images/product/image-250x250.jpg'" src="{{ product.thumbnail }}" />
                    </div>
                </div>
                {# End product image #}
                {# Begin product description #}
                <div class="description col-xs-6 col-sm-8 col-md-8">
                    <div class="name">{{ product.title }}</div>
                    <div class="availability">{{ product.inventory_quantity > 0 ? 'In Stock' :  'Ships in '~ product.inventory_shipping_estimate }}</div>
                    <div class="qty">Qty: {{ item.quantity }}</div>
                    <div class="amount"><span class="at"></span><span class="price">Price:</span> <span class="dollar-sign">$</span>{{  product.price }} <span class="each">each</span></div>
                    {% if item.wishlist_id is not empty %}
                        {% set wishlist = api.get('/wishlist/' ~ item.wishlist_id) %}
                        <div class="wishlist">
                            <a href="{{ app.url }}/wishlist/{{ item.wishlist_id }}"><i class="icon icon-list"></i> For {{ wishlist.name }}</a>
                        </div>
                    {% endif %}
                    {% if item.registry_id is not empty %}
                        {% set registry = api.get('/registry/' ~ item.registry_id) %}
                        <div class="registry">
                            <a href="{{ app.url }}/registry/{{ item.registry_id }}"><i class="icon icon-gift"></i> For {{ registry.name }}</a>
                        </div>
                    {% endif %}                    
                </div>
                {# End product description #}                
            </div>
        </div>
    {% endfor %}
    </div>
</div>
<footer class="row">
    <div class="col-md-12">        

        {# Begin product actions #}
        <div class="row">
            <div class="actions col-xs-8 col-xs-offset-4" style="padding:10px 0;">
                <a class="btn btn-default btn-sm" href="{{ app.url }}/cart">Edit Cart</a>
            </div>
        </div>
        {# End product actions #}
        {# Begin subtotal #}
        <div class="subtotal row">            
            <div class="amount col-xs-4 text-right">Subtotal:</div><div class="amount col-xs-8"> <span class="dollar-sign">$</span> <span class="price">{{ cart.subtotal }}</span> </div>
        </div>
        {# End subtotal #}
        {# Begin coupon #}
        {% for id, coupon in cart.coupons %}
        <div class="coupon row">
            <div class="col-sm-4 text-right">Coupon {{coupon.code}}:</div>
            <div class="amount col-sm-8"> <span class="dollar-sign">-$</span> <span class="price">{{ coupon.discount }}</span> </div>
        </div>
        {% endfor %}
        {# End coupon #}
        {# Begin cart total #}
        {% for id, global in cart.globals %}        
        <div class="global row">
            <div class="col-sm-4 text-right">Discount {{ global.code }}:</div>
            <div class="amount col-sm-8"> <span class="dollar-sign">-$</span> <span class="price">{{ global.discount }}</span> </div>
        </div>
        {% endfor %}
        {# End cart total #}
        {% if step == 'billing' %}        
            <div class="shipping row">
                <div class="col-xs-4 text-right">Shipping:</div>
                {% set shipping = api.post('/shippingmethod/' ~ app.user.getState('shipping_method') ~ '/rate', {'total':cart.subtotal, 'quantity':cart.item_count}) %}
                <div class="amount col-xs-8"> <span class="dollar-sign">$</span> <span class="price">{{ shipping.rate }}</span> </div>
            </div>        
            <div class="tax row">
                <div class="col-xs-4 text-right">Tax:</div>
                {% if app.user.getState('shipping_zip') is empty %}
                    {% set zip = api.get('/customeraddress/' ~ app.user.getState('shipping_address_id')).zip %}
                {% else %}
                    {% set zip = app.user.getState('shipping_zip') %}
                {% endif %}
                {% set tax = api.post('/taxdata/calculate', {'subtotal':cart.taxableSubtotal, 'shipping_zip':zip, 'shipping_rate':shipping.rate}) %}
                <div class="amount col-xs-8">
                    <span class="dollar-sign">$</span> <span class="price">{{ tax.tax }}</span>
                </div>
            </div>        
            <div class="total row">
                <div class="col-xs-4 text-right"><strong>Total:</strong></div>
                {% set total = cart.subtotal|replace({',':''}) + shipping.rate|replace({',':''}) + tax.tax|replace({',':''}) %}
                <div class="amount col-sm-8"> <span class="dollar-sign">$</span> <span class="price">{{ total|number_format(2) }}</span> </div>
                <input type="hidden" name="checkout[total_verify]" value="{{ total }}">
            </div>        
        {% endif %}
        {% if step == 'express' %}        
            <div class="shipping row">
                <div class="col-sm-4 text-right">Shipping:</div>
                <div class="amount col-sm-8"> <span class="dollar-sign">$</span> <span class="price">{{ expressdetails.SHIPPINGAMT }}</span> </div>
            </div>        
            <div class="tax row">
                <div class="col-sm-4 text-right">Tax:</div>
                {% if selected_address is empty %}
                    {% set tax = api.post('/taxdata/calculate', {'subtotal':cart.taxableSubtotal, 'shipping_zip':expressdetails.SHIPTOZIP, 'shipping_rate':expressdetails.SHIPPINGAMT}) %}
                {% else %}
                {% set address = api.get('/customeraddress/' ~ selected_address) %}
                    {% set tax = api.post('/taxdata/calculate', {'subtotal':cart.taxableSubtotal, 'shipping_zip':address.zip, 'shipping_rate':expressdetails.SHIPPINGAMT}) %}
                {% endif %}
                <div class="amount col-sm-8"> <span class="dollar-sign">$</span> <span class="price">{{ tax.tax }}</span> </div>
            </div>        
            <div class="total row">
                <div class="col-sm-4 text-right"><strong>Total:</strong></div>
                {% set total = expressdetails.AMT|replace({',':''}) + tax.tax|replace({',':''}) %}
                <div class="amount col-sm-8"> <span class="dollar-sign">$</span> <span class="price">{{ total|number_format(2) }}</span> </div>
                <input type="hidden" name="checkout[total_verify]" value="{{ total }}">
            </div>        
        {% endif %}
    </div>    
</footer>