      <!-- Footer
      =================================================== -->
        <div class="container-fluid">
          <div class="pull-left copyright">
            <div class="logo-txt"><a style="font-size:14px;" href="{{app.url}}/">{{ app.params.site.title|striptags|slice(0, 32) }}</a> &copy; {{"now"|date("Y")}}. Powered by <a href="http://www.acenda.com" target="_blank">Acenda</a></div>
            <ul class="nav-list effect">
              <li><a href="{{app.url}}/account">Account</a></li>
              {% if app.user.id != '' %}
              <li> <a href="{{app.url}}/account/orders">Order Status</a> </li>
              {% else %}
              <li> <a href="{{app.url}}/order">Order Status</a> </li>
              {% endif %}
              {% if app.user.id != '' %}
              <li> <a href="{{app.url}}/account/orders">Easy Returns</a> </li>
              {% else %}
              <li> <a href="{{app.url}}/return">Easy Returns</a> </li>
              {% endif %}
              <li> <a href="{{app.url}}/registry/search">Gift Registry</a> </li>
              <li><a href="{{app.url}}/cart">View Cart</a></li>
            </ul> 
            {# get content available #}
            {% set contents = api.get('/content',{
                    'query':{
                        'publish':'1'
                            }    
                    })
            %}
            {# Build array with available content slugs #}
            {% set contents_available = [] %}
            {% for content in contents %}
              {% set contents_available = contents_available|merge([content.slug]) %}
            {% endfor %}
            <ul class="nav-list effect">
              <li><a href="{{app.url}}/about"> About </a></li>
              <li><a href="{{app.url}}/contact"> Contact </a></li>
              {% if "faq" in contents_available %}
                <li><a href="{{app.url}}/content/faq">Help &amp; FAQs</a></li>
              {% endif %}
              {% if "privacy-policy" in contents_available %}        
                <li><a href="{{app.url}}/content/privacy-policy">Privacy &amp; Security</a></li>
              {% endif %}
              {% if "terms-and-conditions" in contents_available %}
                <li><a href="{{app.url}}/content/terms-and-conditions"> Terms &amp; Conditions </a></li>
              {% endif %}
            </ul> 
          </div>

          <div class="pull-right copyright">
              <ul class="social-links">
                {# if social settings is not set in the config file, just do nothing #}
                {% if app.params.social_settings is defined and app.params.social_settings is not empty %}
                <li>
                  {{ social.social_parseConfig(app.params.social_settings) }}
                </li>
                {% endif %}
                {# End Social Network Icons #}
              </ul>
          </div>
        </div>
      <!-- End Footer
      =================================================== -->        
      {% set request = app.request.url | split('/') %}
      {% if request.0 != 'checkout' and app.params['live_chat']['active_chat'] is defined and app.params['live_chat']['active_chat'] == true
      and app.params['live_chat']['chat_licence'] is defined and app.params['live_chat']['chat_licence'] is not empty %}
      {% import "/_macros/chat.html.twig" as chat %}
        {{ chat.displayLiveChat( app.params['live_chat']['chat_licence']) }}
      {% endif %}