{% set categories = api.get('/category/sapling') %}
{#
<pre>
{{ dump(categories) }}
</pre>
#}
     <!-- Header Block
      ============================================== -->      
        <!-- Main Header
        ............................................ -->
        <div class="main-header container">
        
          <!-- Header Cols -->
          <div class="header-cols"> 
          
            <!-- Brand Col -->
            <div class="brand-col hidden-xs">
            
              <!-- vcenter -->
              <div class="vcenter">
                <!-- v-centered -->               
                <div class="vcenter-this">
                    {% if app.params.logoimages is not empty %}
                        {% set logo_info = app.params.logoimages | first %}
                        {% set logo = logo_info.url %}
                    {% endif %}
                    {% if logo is not empty %}
                        <a href="{{app.url}}/" class="img-responsive" style="background-image: url({{ logo }}); background-position: 50% 20%;  background-repeat: no-repeat; display: block; height:110px; background-size: contain;"></a>
                    {% else %}
                        <div id="logo-txt"><a href="{{app.url}}/">{{ app.params.site.title|striptags|slice(0, 32) }}</a></div>
                    {% endif %}
                </div>
                <!-- v-centered -->
              </div>
              <!-- vcenter -->

            </div>
            <!-- /Brand Col -->

            <!-- Right Col -->
            <div class="right-col">
            
              <!-- vcenter -->
              <div class="vcenter">
              
                <!-- v-centered -->
                <div class="vcenter-this">

                  <!-- Nav Side -->
                  <nav class="nav-side navbar hnav hnav-sm hnav-borderless" role="navigation">
                  
                    <!-- Dont Collapse -->
                    <div class="navbar-dont-collapse no-toggle">
                    
                      <!-- Nav Right -->
                      <ul class="nav navbar-nav navbar-right case-u active-bcolor navbar-center-xs">
                        {% if app.user.id is null %}
                        <li class="dropdown has-panel">
                          <a aria-expanded="false" href="{{app.url}}/account/login" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-left ti ti-user"></i><span class="hidden-sm">sign in</span></a>                          
                        </li>
                          <li class="dropdown has-panel">
                          <a aria-expanded="false" href="{{app.url}}/account/login" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-left ti ti-pencil-alt"></i><span class="hidden-sm">sign up</span></a>                       
                        </li>
                        {# End login button #}
                        {% else %}
                        {% set customer = api.get('/customer/' ~ app.user.id) %}
                        <li>
                            <div class="btn-group my-account">
                                <a href="{{app.url}}/account" type="button" id="dropdown-account" class="btn dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-left ti ti-user"></i>{{ customer.first_name }} {{ customer.last_name}} <span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{app.url}}/account">My Account</a></li>
                                    <li><a href="{{app.url}}/account/orders">Orders</a></li>
                                    <li><a href="{{app.url}}/account/wishlists">Wishlists</a></li>
                                    <li><a href="{{app.url}}/account/registries">Registries</a></li>
                                    <li><div class="divider"></div></li>
                                    <li><a href="{{app.url}}/account/logout">Not {{ customer.first_name}}? Logout</a></li>
                                </ul>
                            </div>
                        </li>
                        {% endif %}
                        {# End my account button #}                        
                      </ul>
                      <!-- /Nav Right-->

                    </div>
                    <!-- /Dont Collapse -->
                    
                  </nav>
                  <!-- /Nav Side -->
                
                </div>
                <!-- /v-centered -->
              </div>
              <!-- /vcenter -->
              
            </div>
            <!-- /Right Col -->
            
            <!-- Left Col -->
            <div class="left-col">
            
              <!-- vcenter -->
              <div class="vcenter">
                
                <!-- v-centered -->               
                <div class="vcenter-this">
                  
                  <form class="header-search" role="search" method="get" action="{{app.url}}/search">
                    <div class="form-group twitter-typeahead">
                      <input class="form-control typeahead search-autocomplete" placeholder="SEARCH" type="text" name="s" data-provide="typeahead" autocomplete="off">
                      <button class="btn btn-empty" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                  </form>

                </div>
                <!-- v-centered -->
                
              </div>
              <!-- vcenter -->
            
            </div>
            <!-- /Left Col -->
          </div>
          <!-- Header Cols -->
        
        </div>
        <!-- /Main Header
        .............................................. -->
        
        <!-- Nav Bottom
        .............................................. -->
        <nav class="nav-bottom hnav hnav-ruled white-bg boxed-section">
        
          <!-- Container -->
          <div class="container">
          
            <!-- Header-->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle no-border" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-navicon"></i>
              </button>
                    {% if app.params.logoimages is not empty %}
                        {% set logo_info = app.params.logoimages | first %}
                        {% set logo = logo_info.url %}
                    {% endif %}
                    {% if logo is not empty %}
                        <a href="{{app.url}}/" class="navbar-brand img-responsive visible-xs " style="background-image: url({{ logo }}); background-position: 0 10px; background-repeat: no-repeat; display: block;  width: 110px; background-size: contain;"></a>
                    {% else %}
                        <div id="logo-txt"><a class="navbar-brand visible-xs" href="{{app.url}}/">{{ app.params.site.title|striptags|slice(0, 32) }}</a></div>
                    {% endif %}
            </div>
            <!-- /Header-->
            <!-- Collapse -->
            <div class="collapse navbar-collapse navbar-absolute">
            
                <!-- Navbar Center -->
                <ul class="nav navbar-nav navbar-center line-top line-pcolor case-c">
                    <li class="active"><a href="{{ app.url }}/">home</a></li>
                    {% for main_category,items in categories if main_category != "clearance" %}
                        {% if items.limb|length %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="{{app.url}}/category/{{items.slug}}">{{main_category|replace('-',' ')|title}}
                            <i class="fa fa-angle-down toggler"></i>
                        </a>
                        <ul id="category_item" class="dropdown-menu">
                            {% for category,subitems in items.limb %}
                            {% set i = i + 1 %}
                            <li>
                                <a tabindex="-1" href="{{app.url}}/category/{{subitems.slug}}">{{category|replace('-',' ')|title}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {# End dropdown #}
                    {% else %}
                    <li>
                        <a href="{{app.url}}/category/{{items.slug}}">{{main_category|replace('-',' ')|title}}</a>
                    </li>
                {% endif %}
                {% endfor %}
                </ul>
                <!-- /Navbar Center -->
              
            </div>
            <!-- /Collapse -->
            
            <!-- Dont Collapse -->
            <div class="navbar-dont-collapse">

              <!-- Navbar btn-group -->
              <div class="navbar-btn-group btn-group navbar-right no-margin-r-xs">
              
                <!-- Btn Wrapper -->
                <div class="btn-wrapper dropdown">
                
                  <a class="btn btn-outline" data-toggle="dropdown"><i class="ti-plus"></i></a>
                  
                  <!-- Dropdown Menu -->
                  <ul class="dropdown-menu">
                    <li><a href="{{app.url}}/contact">Contact Us</a></li>
                  {% if app.user.id != '' %}
                      <li><a href="{{app.url}}/account/orders">Order Status</a></li>
                    {% else %}
                      <li><a href="{{app.url}}/order">Order Status</a></li>
                    {% endif %}
                    {% if app.user.id != '' %}
                      <li><a href="{{app.url}}/account/returns">Easy Returns</a></li>
                    {% else %}
                      <li><a href="{{app.url}}/return">Easy Returns</a></li>
                    {% endif %}
                    {% if app.user.id != '' %}   
                      <li><a href="{{app.url}}/account/registries">Gift Registry</a></li>
                    {% else %}
                      <li><a href="{{app.url}}/registry/search">Gift Registry</a></li>
                    {% endif %}
                  </ul>
                  <!-- /Dropdown Menu -->
                  
                </div>
                <!-- /Btn Wrapper -->

                <!-- Btn Wrapper -->
                <div class="btn-wrapper dropdown cart" data-content="" data-placement='bottom' rel='popover'>
                
                  <a aria-expanded="false" class="btn btn-outline" data-toggle="dropdown" ><b class="count count-scolor count-round item-count"></b><i class="ti ti-bag"></i></a>
                  
                  {# Begin ajax cart popover #}
                  <div class="ajaxcart" style="display:none">
                      <div class="popover-close">
                          <div class="row">
                              <div class="col-md-7">
                                  
                              </div>
                              <div class="col-md-5">
                                  <a onclick="$('div.cart').popover('hide')" id="ajaxcart-close" class="btn btn-danger btn-sm pull-right"><i class="fa fa-times"></i></a>
                              </div>
                          </div>
                      </div>
                      {# Begin Popover products #}
                      <section class="ajaxcart-products">
                          {# Begin product #}
                          <div class="ajaxcart-product product" style="border-bottom: 1px solid #ccc; ">
                              <div class="row">
                                  <div class="col-xs-4">
                                      <div class="thumbnail">
                                          <img onerror="this.src='{{ app.url_asset }}/images/product/image-250x250.jpg'" class="product-image" src="">
                                      </div>
                                  </div>
                                  <div class="col-xs-8">
                                      <div class="name">
                                          <span class="product-name"></span>
                                      </div>
                                      <div class="price"><span class="product-quantity"></span> X $<span class="product-price"></span></div>
                                      
                                  </div>
                              </div>
                          </div>
                          {# Begin product #}
                      </section>
                      {# End Popover products #}
                      {# Begin popover cart totals #}
                      <div class="row">
                          <div class="col-xs-8 col-xs-offset-4">
                              <div class="cart-totals">
                                  <div class="total pull-right"><strong>Subtotal: $<span class="subtotal pull-right">0.00</span></strong></div>
                              </div>
                          </div>
                      </div>
                      {# End popover cart totals #}
                      <div class="row grid-10">
                          <div class="col-md-6">
                            <a class="btn btn-base btn-block margin-y-5" href="{{ app.url }}/cart">view cart</a>
                          </div>
                          <div class="col-md-6">
                            <a class="btn btn-primary btn-block margin-y-5" href="{{ app.url }}/checkout">checkout</a>
                          </div>
                      </div>
                  </div>
                  {# End ajax cart popover #}
                  
                  {# Begin ajax cart popover #}
            <div class="ajaxcart" style="display:none;">
                <div class="popover-close">
                    <div class="row">
                        <div class="col-md-7 col-xs-10">
                                Quickcart
                        </div>
                        <div class="col-md-5 col-xs-2">
                            <a onclick="$('.mobile-popover').popover('hide')" id="ajaxcart-close" class="btn btn-danger btn-sm pull-right"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                </div>
                {# Begin Popover products #}
                <section class="ajaxcart-products">
                    {# Begin product #}
                    <div class="ajaxcart-product product">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="thumbnail">
                                    <img onerror="this.src='{{ app.url_asset }}/images/product/image-250x250.jpg'" class="product-image" src="">
                                </div>
                            </div>
                            <div class="col-xs-8">
                                <div class="name">
                                    <span class="product-name"></span>
                                </div>
                                <div class="price"><strong>Price:</strong> $<span class="product-price"></span></div>
                                <div class="quantity"><strong>Qty:</strong> <span class="product-quantity"></span></div>
                            </div>
                        </div>
                    </div>
                    {# Begin product #}
                </section>
                {# End Popover products #}
                {# Begin popover cart totals #}
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-4">
                        <div class="cart-totals">
                            <div class="items">Item count: <span class="item-count"></span></div>
                            <div class="total">Subtotal: $<span class="subtotal">0.00</span></div>
                        </div>
                    </div>
                </div>
                {# End popover cart totals #}
                <div class="row grid-10">
                    <div class="col-md-6">
                      <a class="btn btn-base btn-block margin-y-5" href="{{ app.url }}/cart">view cart</a>
                    </div>
                    <div class="col-md-6">
                      <a class="btn btn-primary btn-block margin-y-5" href="{{ app.url }}/checkout">checkout</a>
                    </div>
                </div>
            </div>
            {# End ajax cart popover #}                    
                </div>
                <!-- /Btn Wrapper -->

              </div>
              <!-- /Navbar btn-group -->
              
            </div>
            <!-- /Dont Collapse -->

          </div>
          <!-- /Container -->
          
        </nav>
        <!-- /Nav Bottom
        .............................................. -->
        
