<tr>
  <td class="footer" bgcolor="#474747" style="padding: 20px 30px 15px 30px;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr style="height:140px;">
        <td align="left" class="footertitle" style="width:45%; font-family: 'Open Sans', sans-serif; font-size: 20px; font-weight: 500; color: #f2f2f2;">
          <a style="color: #f2f2f2; text-decoration: none;" href="{{params['url']['current']}}/">{{ app.params.site.title }}</a>
        </td>
        <td class="footerborder" style="width:5%; height:60px; padding: 40px 0; border-left: 1px solid #949494;"></td>
        <td align="left" class="footernav" style="width:25%; font-family: 'Open Sans', sans-serif; font-size: 12px;  color: #f2f2f2;">
          <ul style="list-style-type: none; padding: 5px 0;">
            <li style="list-style-type: none; padding: 5px 0;"><a style="color: #f2f2f2; text-decoration: none;" href="{{app.url}}//account/login">My Account</a></li>
            <li style="list-style-type: none; padding: 5px 0;"><a style="color: #f2f2f2; text-decoration: none;" href="{{app.url}}/account/orderswhishlist">Whishlist</a></li>
            <li style="list-style-type: none; padding: 5px 0;"><a style="color: #f2f2f2; text-decoration: none;" href="{{app.url}}/cart">Shopping Cart</a></li>
          </ul>
        </td>
        <td align="left" class="footernav" style="width:25%; font-family: 'Open Sans', sans-serif; font-size: 12px;  color: #f2f2f2;">
          <ul style="list-style-type: none; padding: 5px 0;">
            <li style="list-style-type: none; padding: 5px 0;"><a style="color: #f2f2f2; text-decoration: none;" href="{{app.url}}/account/orders">Order Status</a></li>
            <li style="list-style-type: none; padding: 5px 0;"><a style="color: #f2f2f2; text-decoration: none;" href="{{app.url}}/registry/search">Gift Registries</a></li>
            <li style="list-style-type: none; padding: 5px 0;"><a style="color: #f2f2f2; text-decoration: none;" href="{{app.url}}/account/contact">Contact Us</a></li>
          </ul>
        </td>
      </tr>
    </table>`
  </td>
</tr>
<tr>
  <td class="footerbottom" bgcolor="#808080" style="padding: 10px 10px;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr style="height:20px;">
        <td align="center" class="footercopy" style="font-family: 'Open Sans', sans-serif; font-size: 10px;  color: #d9d9d9;">
          Copyright  &copy;{{"now"|date("Y")}} <a href="{{params['url']['current']}}/" target="_blank" style="text-decoration: none; font-size: 10px; color: #cbcbcb;">{{ app.params.site.title }}</a>. Powered by <a style="text-decoration: none; font-size: 10px;  color: #cbcbcb;" href="https://www.acenda.com/" target="_new">Acenda.</a>
        </td>
      </tr>
    </table>
  </td>
</tr>
