<!-- Begin email footer -->
<table border="0" cellpadding="0" cellspacing="0" width="640" style="background-color: #222222; font-family: helvetica, arial, sans-serif;">
	<tr>
		<td>
			<!-- Begin quicklinks -->
			<table border="0" cellpadding="0" cellspacing="0" width="640" style="color: #ffffff; font-family: helvetica, arial, sans-serif; font-size: 12px; line-height: 22px; padding: 20px;">
				<tr>
					<td colspan="4" style=" padding-bottom: 10px;">
						<h4 style="font-size: 16px; margin: 0; text-transform: uppercase;">Quicklinks</h4>
					</td>
				</tr>
				<tr>
					<td width="150px;" style="vertical-align: top;">
						<ul style="list-style-type: none; padding-left: 0; padding-right: 20px;">
							<li>
								<a style="color: #ffffff; text-decoration: none;" href="{{app.url}}/account/orders">Order Status</a>
							</li>
						</ul>
					</td>
					<td width="150px;" style="vertical-align: top;">
						<ul style="list-style-type: none; padding-left: 0; padding-right: 20px;">
							<li>
								<a style="color: #ffffff; text-decoration: none;" href="{{app.url}}/cart">Shopping Cart</a>
							</li>
							<li>
								<a style="color: #ffffff; text-decoration: none;" href="{{app.url}}/registry/search">Gift Registry</a>
							</li>
						</ul>
					</td>
					<td width="150px;" style="vertical-align: top;">
						<ul style="list-style-type: none; padding-left: 0; padding-right: 20px;">
							<li>
								<a style="color: #ffffff; text-decoration: none;" href="{{app.url}}/content/base/help">Help &amp; FAQs</a>
							</li>
							<li>
								<a style="color: #ffffff; text-decoration: none;" href="{{app.url}}/contact">Contact Us</a>
							</li>
						</ul>
					</td>
					<td width="150px;" style="vertical-align: top;">
						<ul style="list-style-type: none; padding-left: 0; padding-right: 20px;">
							<li>
								<a style="color: #ffffff; text-decoration: none;" href="{{app.url}}/content/base/privacy-security">Privacy &amp; Security</a>
							</li>
							<li>
								<a style="color: #ffffff; text-decoration: none;" href="{{app.url}}/content/base/terms">Terms &amp; Conditions</a>
							</li>
						</ul>
					</td>
				</tr>
			</table>
			<!-- End quicklinks -->
		</td>
	</tr>
	<tr>
		<td>
			<!-- Begin copyright -->
			<table border="0" cellpadding="0" cellspacing="0" width="640" style="color: #666666; font-family: helvetica, arial, sans-serif; font-size: 11px;">				
				<tr>
					<td style="border-top: 1px solid #555555; padding: 10px; vertical-align: top;">
						<p style="text-align: center;">Copyright &copy;2015 {{ app.params['site']['title'] }} All Rights Reserved. Powered by Acenda.</p>
					</td>
				</tr>
			</table>
			<!-- End copyright -->
		</td>
	</tr>
</table>
<!-- End email footer -->