{% if app.request.path is not empty %}
	{% if 'http://' not in app.request.path and 'https://' not in app.request.path %}
		{% do app.user.setState('login_referer', app.request.path) %}
	{% endif %}
	{% do app.redirect('/account/login',{'error': 'You must be logged in to perform this action.'}) %}
{% endif %}
{% if app.request.post is not empty and app.request.post.login is empty %}
	{% do app.redirect('/account/login',{'error': 'You must be logged in to perform this action.'}) %}
{% endif %}
{% if app.user.isLoggedIn() %}
    {% set login_redirect_url = app.user.getState('login_referer') %}
    {% if login_redirect_url is not empty %}
    	{% do app.redirect(login_redirect_url) %}
    {% else %}
		{% do app.redirect('/account') %}
    {% endif %}
{% endif %}

{% import "/_macros/form-elements-bootstrap.html.twig" as forms %}
{% extends "/_layouts/theme.html.twig" %}

{% set title = 'Account login' %}

{% block title %}{{title}}{% endblock %}


{% block breadcrumb %}
      <!-- Intro Block
      ============================================-->
      <section class="intro-block intro-page boxed-section cover-4 overlay-dark-m">
      
        <!-- Container -->
        <div class="container">     
          <!-- Section Title -->
          <div class="section-title invert-colors no-margin-b">
            <h2><i class="fa fa-lock"></i> {{ title|title }}</h2>
            <p class="hidden-xs"></p>
          </div>
          <!-- /Section Title -->
        </div>
        <!-- /Container -->
      
      </section>
      <!-- /Intro Block
      ============================================-->
    {{ base.breadcrumbs({'Account':'/account'}) }}
{% endblock %}


{% block content %}

<div class="container main-container">
	<div class="row">		
		<div class="col-md-6 col-lg-6">
			<div class="well">
				{# Begin Login #}
				<div class="account-login">
					<h4>Do you have a {{ app.params.site.title }} account?</h4>
					{% include "/account/login/_partials/form.html.twig" %}
				</div>
				{# End Login #}
			</div>
		</div>
		<div class="col-md-6 col-lg-6">
			<div class="well">
				{# Begin create account #}
				<div class="account-create">
					<h4>Create a new account</h4>
					<p>Create an account and you'll be able to place orders, create registries, create wishlists, check the status of your orders, write reviews, and more. </p>
					<a class="btn btn-primary" href="{{app.url}}/account/create/{{ app.request.path }}"><i class="fa fa-user"></i> Create Account</a>
				</div>
				{# End create account #}
			</div>
		</div>
	</div>
</div>
{% endblock %}