{% if app.request.path is not empty %}
	{% if 'http://' not in app.request.path and 'https://' not in app.request.path %}
		{% do app.user.setState('login_referer', app.request.path) %}
	{% endif %}
	{% do app.redirect('/account/login',{'error': 'You must be logged in to perform this action.'}) %}
{% endif %}
{% if app.request.post is not empty and app.request.post.login is empty %}
	{% do app.redirect('/account/login',{'error': 'You must be logged in to perform this action.'}) %}
{% endif %}
{% if app.user.isLoggedIn() %}
    {% set login_redirect_url = app.user.getState('login_referer') %}
    {% if login_redirect_url is not empty %}
    	{% do app.redirect(login_redirect_url) %}
    {% else %}
		{% do app.redirect('/account') %}
    {% endif %}
{% endif %}

{% import "/_macros/form-elements-bootstrap.html.twig" as forms %}
{% extends "/_layouts/theme.html.twig" %}

{% set title = 'Account login' %}

{% block title %}{{title}}{% endblock %}


{% block breadcrumb %}
    {{ base.breadcrumbs({'Account':'/account'}) }}
{% endblock %}


{% block content %}

<div class="container-fluid cart-list">
	<div class="row">		
		<div class="col-sm-6 col-md-6">
				{# Begin Login #}
				<div class="account-login myform">
					<h2 class="text-center">Do you have a {{ app.params.site.title }} account?</h2>
					{% include "/account/login/_partials/form.html.twig" %}
				</div>
				{# End Login #}
		</div>
		<div class="col-sm-6 col-md-6">
				{# Begin create account #}
				<div class="account-create myform">
					<h2 class="text-center">Create a new account</h2>
					<p>Create an account and you'll be able to place orders, create registries, create wishlists, check the status of your orders, write reviews, and more. </p>
					<a class="btn btn-primary btn-block" href="{{app.url}}/account/create/{{ app.request.path }}"><i class="fa fa-user"></i> Create Account</a>
				</div>
				{# End create account #}
		</div>
	</div>
	<div class="row">
	<div class="col-sm-12 text-center show-more">
		<a href="{{app.url}}" class="btn btn-outline">Cancel and return to store</a>
	</div>	
</div>	
</div>

{% endblock %}