               <!-- Row -->
                <div class="row">
                  <!-- Main component call to action -->
                  {% set items_per_row = 4 %}
                {% set collection_ids = [] %}
                {% set product_count = 1 %}
                {% set options = ['image'] %}
                {% set products = api.get('/catalog', {sort:"product.variant.popularity:-1",limit:4}) %}
                {% set product_counter = 0 %}
                {% for row,product in products if collection_ids[product.id] is empty and product_count < 5 %}
                    {% if product.group == 'product' %}
                        {% for id in product.product.collection_id %}
                            {% set collection_ids = collection_ids|merge({(id):true}) %}
                        {% endfor %}
                    {% else %}
                        {% set collection_ids = collection_ids|merge({(product.id):true}) %}
                    {% endif %}
                    {% set product_count = product_count + 1 %}
                    {% set product =  product|merge({'variant':product.product|values_in('variant')}) %}
                    {% set product =  product|merge({'attributes':product.variant|values_in(['price','compare_price','save_price','save_percent','color'])}) %}
                        
                   {% if 'image' in options %}
                    {# Grab image based on color facets #}
                    {% set img_url = product.thumbnail %}
                    {% set variant_images = [] %}

                    {% if product.attributes.color|length > 1 %}
                        {# set current_colors = app.request.get.f.color|keys #}
                        
                        {% set current_colors = [] %}
                        {% for variant in product.variant 
                            if variant.status == 'active' and variant.color not in current_colors and variant.images is not empty %}
                                {% set img_url = variant.thumbnail %}
                                {% set current_colors = current_colors|merge([variant.color]) %}
                                {% set variant_images = variant_images|merge([variant.images[0]]) %}
                        {% endfor %}
                    {% endif %}

                    {% set secure =  app.url_asset | slice(0,5)  %}
                    {% if secure == 'https' %}
                        {% set img_url = img_url | replace({'http:':'https:'}) %}
                    {% endif %}
                    
                    {% if variant_images is empty %}
                        {% set variant_images = product.images %}
                        {% set image_url = app.image.getImageUrl('product','thumbnail', variant_images[0].id) %}
                    {% endif %}
                {% endif %}
                    <!-- Col -->
                  <div class="col-sm-6 col-md-3">
                    <!-- product -->
                    <div class="product clearfix">
                    
                      <!-- Image -->
                      <div class="image"> 
                        <a href="{{ app.url }}/product/{{ product.slug }}" class="main">
                          <img onerror="this.src='{{ app.url_asset }}/images/product/image-250x250.jpg'" src="{{ image_url }}" alt="img" class="img-responsive"></a>
                      </div>
                      <!-- Image -->
                      <div class="label">
                        {% for tag in product.tags %}
                            {% if tag == 'new' %}
                                <span class="label-new">{{ tag|capitalize }}</span> 
                            {% elseif tag == 'sale' %}
                                <span class="label-sale">{{ tag|capitalize }}</span> 
                            {% elseif tag == 'popular' %}
                                <span class="label-hot">{{ tag|capitalize }}</span> 
                            {% else %}
                                <span class="label-feat">{{ tag|capitalize }}</span> 
                            {% endif %}
                        {% endfor %}
                      </div>
                      <!-- Details -->
                      <div class="details">
                      
                        <a class="title" href="{{ app.url }}/product/{{ product.slug }}">{{ product.title|striptags|slice(0, 50) }}</a>
                        
                        <!-- rating -->
                        <ul class="hlinks hlinks-rating" style="height:13px;">
                          {% if product.review_score is not empty %}
                            {% set nb_active_stars = product.review_score * 5 %}
                            {% set nb_grey_stars = 5 - nb_active_stars %}
                            {% for stars in 1..nb_active_stars %}
                              <li class="active"><a href="#"><i class="icon fa fa-star"></i></a></li>
                            {% endfor %}
                            {% for stars in 1..nb_grey_stars %}
                              <li><a href="#"><i class="icon fa fa-star"></i></a></li>
                            {% endfor %}
                          {% endif %}
                        </ul>
                        <!-- /rating -->
                        
                        <p class="desc">{{ product.description|striptags|slice(0, 65) }}...</p>
                        
                        <!-- Price Box -->
                        <div class="price-box">
                          <span class="price">{% if product.attributes.price %}
                          {{ prod.price(product.attributes.price) }} {% if product.attributes.compare_price[0] is not empty and product.attributes.compare_price != product.attributes.price %}</span><span class="price price-old">{{ prod.price(product.attributes.compare_price) }}</span>
                        <!-- /Price Box -->
                        {% endif %}
                        {% endif %}
                        </div>
                        <!-- buttons -->
                        <div class="btn-group">
                          <a class="btn btn-outline btn-base-hover" href="{{ app.url }}/product/{{ product.slug }}"><span>See Product</span></a>
                          <a class="btn btn-outline btn-default-hover" href="{{ app.url }}/product/{{ product.slug }}"><i class="icon fa fa-heart"></i></a>
                        </div> 
                        <!-- /buttons -->
                        
                      </div>
                      <!-- /Details -->
                      
                    </div>
                    <!-- /product -->
                    </div>
                  {% endfor %}
                  <!-- /Col -->
                
                </div>
                <!-- /Row -->