{% set wishlist_items = api.get('/wishlist/' ~ wishlist.id ~ '/items') %}
{% if (wishlist_items is empty) %}
    <div class="row">
        <div class="col-md-12">
            <i>There are no items in this wishlist.</i><br />
            <i>Please browse the store to add more items.</i><br /><br />        
            <a class="btn btn-primary" href="{{app.url}}">Continue Shopping</a>
            {% if wishlist.customer_id == app.user.id %}
            <a class="btn btn-default btn-edit editwishlistLink" href="{{ app.url }}/account/wishlist/{{ wishlist.id }}/edit">Manage wishlist</a>
            {% endif %}
        </div>
    </div>
{% else %}
<div id="wishlist">
    <div class="row">
        <div class="col-md-12">
            <header>
                <hgroup>
                    <h2 class="wishlist-name">{{ wishlist.name }}</h2>
                </hgroup>
            </header>
        </div>
    </div>

    {{ forms.begin('wishlist-form', app.url ~ '/wishlist/' ~ wishlist.id ~ '/route') }}   
    {% set product_ids = wishlist_items|values_in('product_id') %}
    {% set products = api.get('/variant',{query:{id:{'$in':product_ids}}})|group_by('id') %}

    {# Remove products that were disabled or removed #}
    {% set items_deleted = false %}
    {% for item in wishlist_items %}
    {% set product = products[item.product_id][0] %}
    {% if product.status != 'active' %}
    {% do api.delete('/wishlistitem/' ~ item.id) %}
    {% if wishlist.customer_id == app.user.id %}
    {# FIXME: These flash messages don't work sometimes #}
    {% if product.title is defined %}
    {# This product is disabled or removed #}
    {% do app.user.setFlash(product.title ~ ' is no longer available.', 'info') %}
    {% else %}
    {# This product doesn't exist anymore (deleted) #}
    {% do app.user.setFlash('A product you have selected is no longer available.', 'info') %}
    {% endif %}
    {% endif %}
    {% set items_deleted = true %}
    {% endif %}
    {% if items_deleted %}
        {% do app.redirect(app.request.url) %}
    {% endif %}
    {% endfor %}

    {% for item in wishlist_items %}
        {% set left = item.quantity - item.quantity_purchased < 0 ? 0 : item.quantity - item.quantity_purchased %}
        {% set product = products[item.product_id][0] %}
            {# Begin product #}
            <div class="product">
                <div class="row">
                    {# Begin product header - Mobile #}
                    <div class="col-xs-12 col-sm-12 hidden-md hidden-lg">
                        <header class="mobile">
                            <div class="name"><a href="{{app.url}}{{ product.url }}">{{ product.title }}</a></div>
                        </header>
                    </div>
                    {# End product header - Mobile #}
                    {# Begin product image #}
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
                        <div class="images">
                            <div class="thumbnail">
                                <img onerror="this.src='{{ app.url_asset }}/assets/images/product/image-250x250.jpg'" src="{{ product.thumbnail }}" />
                            </div>
                        </div>
                    </div>
                    {# End product image #}
                    {# Begin product details #}
                    <div class="col-xs-12 col-sm-3 col-md-5 col-lg-5">
                        {# Begin desktop product header#}
                        <header class="desktop hidden-xs hidden-sm">
                            <div class="name"><a href="{{app.url}}{{ product.url }}">{{ product.title }}</a></div>
                        </header>
                        {# End desktop product header #}
                        {# Begin pricing #}
                        <div class="pricing">
                            <div class="price">
                                <span class="sale">Sale:</span>&nbsp;<span class="dollar-sign">&#36;</span><span class="amount">{{ product.price }}</span><span class="cents"></span>
                            </div>
                            <div class="stock">In Stock</div>
                            {% if product.compare_price %}
                                <div class="price-regular">
                                    <span class="regular">Reg:</span>&nbsp;<span class="dollar-sign">&#36;</span><span class="amount">{{ product.compare_price }}</span><span class="cents"></span>
                                </div>
                            {% endif %}
                        </div>
                        {# End pricing #}
                        {# Begin quantities #}
                        <div class="quantities">
                            <div class="qty-wanted">
                                <div class="{{ left ? "fg-green" : "fg-red" }}">
                                    {% if left <= 0 %}
                                        <span class="purchased">This item is purchased</span>
                                    {% else %}
                                        <span class="purchased">Wanted:</span>&nbsp;<span class="qty">{{ left }}</span>
                                    {% endif %}
                                </div>
                            </div>
                            {% if wishlist.customer_id == app.user.id %}
                                <div class="qty-update">
                                    <a href="#" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modal_{{ product.id }}">Update Quantity</a>
                                </div>
                                {# Begin quantity modal #}
                                <div class="modal fade modal_list_quantity" id="modal_{{ product.id }}">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title">Update your quantities</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="quantity-input-group">
                                                        <div class="col-md-12">
                                                            <h5>Quantity Purchased</h5>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="quantity">
                                                                <div class="input-group">
                                                                    <div class="input-group-btn">
                                                                        <button class="btn btn-neutral btn-remove" type="button"><i class="fa fa-minus"></i></button>
                                                                    </div>
                                                                    <input class="form-control quantity-selector" type="text" value="{{ item.quantity_purchased }}" maxlength="2" placeholder="1" data-id="{{item.id}}" name="quantity_purchased[{{ item.id }}]">
                                                                    <div class="input-group-btn">
                                                                        <button class="btn btn-neutral btn-add" type="button"><i class="fa fa-plus"></i></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <hr>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="quantity-input-group">
                                                        <div class="col-md-12">
                                                            <h5>Quantity Wanted</h5>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="quantity">
                                                                <div class="input-group">
                                                                    <div class="input-group-btn">
                                                                        <button class="btn btn-neutral btn-remove" type="button"><i class="fa fa-minus"></i></button>
                                                                    </div>
                                                                    <input class="form-control quantity-selector" type="text" value="{{ item.quantity }}" maxlength="2" placeholder="1" data-id="{{item.id}}" name="wishlistitem_quantity[{{ item.id }}]">
                                                                    <div class="input-group-btn">
                                                                        <button class="btn btn-neutral btn-add" type="button"><i class="fa fa-plus"></i></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {# End quantity modal #}
                            {% if wishlist.customer_id == app.user.id %}
                                <div class="qty-remove">
                                    <a class="btn btn-default btn-xs"  data-toggle="modal" data-target="#modal_remove_{{ product.id }}" href="#">Remove</a>
                                </div>
                                {# Begin remove modal #}
                                <div class="modal fade modal_list_quantity" id="modal_remove_{{ product.id }}">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title">Delete this item?</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>Remove this item from your wishlist?</p>
                                                <b>{{ product.title }}</b>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="" class="btn btn-neutral" data-dismiss="modal">Cancel</a>
                                                <a href="{{app.url}}/wishlist/item/{{ item.id }}/delete" class="btn btn-danger">Delete</a>                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {# End remove modal #}
                            {% endif %}
                        </div>
                        {# End quantities #}                        
                    </div>
                    {# End product details #}
                    {# Begin product quantity and actions #}
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-5">
                        <div class="actions">
                            <div class="row">
                                {# Begin product quantity #}
                                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-7">
                                    <div class="quantity">
                                        <div class="quantity-input-group">
                                            <label for="quantity-selector" class="control-label">Qty</label>
                                            <div class="input-group">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-neutral btn-remove" type="button"><i class="fa fa-minus"></i></button>
                                                </div>
                                                <input type="text" value="1" maxlength="2" placeholder="1" class="form-control quantity-selector" name="add_to_cart[{{ item.id }}]">
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-neutral btn-add"><i class="fa fa-plus"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {# End product quantity #}
                                {# Begin add to cart button #}
                                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-5">
                                    <div class="add-to-cart">
                                        <button class="btn btn-add-to-cart btn-block" name="action" value="add/{{ item.id }}">Add to Cart</button>
                                    </div>                                    
                                </div>
                                {# End add to cart button #}
                            </div>
                        </div>
                    </div>
                    {# End product quantity and actions #}                    
                </div>
            </div>
        {# End product #}
    {% endfor %}
    {# Begin wishlist menu #}
    <div class="actions">
        <div class="row">
            <div class="col-md-12 text-right">
                {% if wishlist.privacy == 'public' or wishlist.privacy == 'unlisted' %}
                <a class="btn btn-default" id="btn-share" href="#" data-placement="top" data-content="A link to this wishlist has been copied to the clipboard." data-clipboard-text="{{ app.url}}/wishlist/{{wishlist.id}}"><i class="fa fa-share"></i> Share this wishlist</a>
                {% endif %}
                {% if wishlist.customer_id == app.user.id %}
                <a class="btn btn-primary btn-edit editwishlistLink" href="{{ app.url }}/account/wishlist/{{ wishlist.id }}/edit">Manage wishlist</a>
                {% endif %}
            </div>
        </div>       
    </div>
    {# End wishlist menu #}
    {{ forms.end() }}
</div>
{% endif %}
